.mainBackground {
    /* text-align: center; */
    width: 100%;
    height: 100vh;
    background-color: #150404;
    background-image: url(../assets/image/iconImage.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
}

.infoDiv {
    margin: auto;
    width: 300px;
    height:400px;
    margin-top: 150px;
    border:.02rem solid grey;
    background-color: white;
    border-radius: 20px;
    /* box-shadow:  rgb(99, 99, 99) 5px 5px 5px 1px; */

}

.infoDiv p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    margin-left: 8px;
    font-weight: 200;
    /* margin-top: 5px; */
}

.flexCheckBox {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.flexCheckBox input {
    margin-right: 10px;
    /* background-color: #F41010; */
}

.result {
    width: 900px;
    height:400px;
    margin: auto;
    margin-top: 150px;
    margin-left: 20px;
    margin-top: 150px;
    border:.1rem solid #1A374F;
    background-color: white;
    background-position: center center;
    border-radius: 20px;
}

.select {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: #3f739c;
    box-shadow:  rgb(99, 99, 99) 5px 5px 5px -2px;
   
}

.select h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.resultText {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: #3f739c;
    box-shadow:  rgb(99, 99, 99) 5px 5px 5px -2px;
}

.resultText h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    /* font-style: italic; */
}
.nextButtons {
    width: 800px;
    margin: auto;
    margin-top: 282px;
    display: flex;
    justify-content: space-between;
    /* background-color: #F41010; */
}

.nextAndback {
    width: 112px;
    height: 30px;
    background-color: #3f739c;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}
.nextAndback:hover {
    background-color: black;
}

.results p{
    color: black;
    margin: auto;
    width: 800px;
    margin-top: 10px;
    border-radius: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin-left: 8px;
    font-weight: 200;
}

.submit {
    width: 112px;
    height: 30px;
    background-color: #3f739c;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}

.submitContainer {
    width: 300px;
    height: 20px;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}